/* You can add global styles to this file, and also import other style files */

html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Ensure html and body also take full height */
    overflow: hidden; /* Prevent scrolling on main body if dashboard handles it */
}